/* BootstrapCDN  */

@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");

/* Google Font */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* Global CSS */

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: #323232;
  line-height: 1.2;
}

h2 {
  margin-bottom: 25px;
}

hr {
  margin: 35px 0px;
  border: 1px solid #eef1f2;
}

p {
  font-size: 18px;
}

.font-weight-300 {
  font-weight: 300;
}

.text-link {
  color: #4f80bb;
  text-decoration: underline;
}

.text-link:hover {
  text-decoration: none;
  color: #4f80bb;
}

.btn-check {
  color: #ffffff;
  background-image: -webkit-linear-gradient(bottom, #cf0202 0, red 60%);
  background-image: linear-gradient(0deg, #cf0202 0, red 60%);
  border: 2px solid #cf0202;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgb(0 0 0 / 46%);
  font-weight: 700;
  font-size: 1.938rem;
  max-width: inherit;
  width: auto;
  font-family: 'Roboto Condensed', sans-serif;
  padding: .625rem 1.25rem;
  line-height: 1;
  white-space: inherit;
  border-radius: 5px;
}

.btn-check span {
  display: block;
  font-weight: 400;
  font-size: .938rem;
  line-height: 1.4;
}

.btn-check:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-check img {
  margin-top: -5px;
}

.text-decoration {
  text-decoration: underline;
}


/* Navbar */

.navbar {
  background: #4f80bb !important;
}

.navbar-light .navbar-brand {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 2.188rem;
  color: #ffffff;
}

.navbar-light .navbar-brand span {
  font-weight: 100;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #ffffff;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0;
}

.navbar-expand-sm .navbar-nav li:not(:last-child) {
  margin-right: 30px;
}

.navbar-expand-sm>.container,
.navbar-expand-sm>.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-light .navbar-toggler {
  color: #ffffff;
  padding: 8px 15px 12px;
  border-color: #ffffff;
  border-radius: 2px;
}


/* Banner */

.banner {
  padding: 30px 0px;
}

.banner h1 {
  font-size: 25px;
}

.banner h1 span {
  font-weight: 400;
}

.banner h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner .media img {
  max-width: 150px;
  margin-right: 35px;
}

.banner .media ul li {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  color: #323232;
}

.banner hr {
  margin: 0px 0px 15px;
}

.dietpillprosrazalean_page .first_razalean .heading {
  padding-bottom: 1.5rem
}

.dietpillprosrazalean_page .first_razalean .heading h4 {
  color: #000
}

.dietpillprosrazalean_page .first_razalean .heading h4 span {
  font-weight: 400
}

.dietpillprosrazalean_page .first_razalean .midcoltext.steel_bluebrd {
  padding-left: .625rem;
  border-left-width: 4px;
  padding: 8px 15px;
  margin-bottom: 1.875rem;
  max-width: 517px;
  width: 100%;
  margin-left: auto;
  margin-right: auto
}

.dietpillprosrazalean_page .first_razalean .midcoltext.steel_bluebrd p {
  margin: 0
}

.dietpillprosrazalean_page .first_razalean .midcoltext.ratingbox {
  max-width: 123px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem .75rem;
  border: 2px solid silver;
  border-radius: 10px;
  text-align: center
}

.second-media {
  margin-top: 35px;
}

.ratingbox {
  display: block;
  max-width: 200px;
  margin-left: 25px;
  padding: .5rem .75rem;
  border: 2px solid silver;
  border-radius: 10px;
  text-align: center;
  margin-right: 35px;
}

.ratingbox h4 {
  color: #4a9911;
  font-size: 3.625rem;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 0;
}

.rating-number {
  font-size: 1.7rem;
  color: #333;
  margin-bottom: 0;
}

.rating-img {
  margin-bottom: 5px;
}

.review-para {
  color: #878787;
  margin-bottom: 5px;
}

.offer {
  padding: 15px 20px;
  border: 2px solid #4f80bb;
  border-left-width: 4px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.offer h2 {
  line-height: 1;
  font-size: 24px;
  color: #4f80bb;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
}

.offer p {
  font-size: 18px;
  color: #4f80bb;
  margin-bottom: 0;
}

.offer p a {
  color: red;
  font-weight: 600;
  text-decoration: underline;
}

.how-effective-header {
  margin-bottom: 25px;
}

.how-effective-header h2 {
  margin-bottom: 20px;
}

.how-effective p {
  font-size: 18px;
}

.how-effective-content {
  margin-bottom: 35px;
}

.how-effective-content p {
  font-style: italic;
}

.promo-offer a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
  color: #323232;
}

.promo-offer a:hover {
  text-decoration: none;
}

.how-effective {
  padding-bottom: 80px;
}

.weight-off .img-fluid {
  margin: 45px auto;
}

.resurge-special .text-decoration {
  color: #323232
}

.resurge-special .btn {
  margin: 50px 0px;
}

.resurge-special hr {
  margin: 45px 0px;
}

.buy-resurge ul {
  margin: 35px 0px;
}

.buy-resurge ul li {
  font-weight: 500;
}

.buy-resurge ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

.buy-resurge ul {
  margin-left: 0;
  padding-left: 20px;
}

.progressbar_sec {
  background: #ffebc1;
  border: 2px solid #f9ca57;
  padding: 25px;
  margin-top: 35px;
  border-radius: 7px;
}

.progressbar_sec p {
  margin-bottom: 0;
}

.progressbar_sec .col-md-4 p {
  color: #333;
}

.progressbar_sec .col-md-3 {
  font-weight: 600;
}

.progressbar_sec .progress {
  height: 30px!important;
  border-radius: 4px!important;
  border: 2px solid silver;
}

.progressbar_sec .progress-bar {
  background-image: -webkit-linear-gradient(#62b822 50%, #55a11e 50%);
  background-image: -o-linear-gradient(#62b822 50%, #55a11e 50%);
  background-image: linear-gradient(#62b822 50%, #55a11e 50%);
}

footer hr {
  margin: 20px 0px 30px;
}

footer {
  background: #4f80bb;
  padding: 30px 0px 60px;
  margin-top: 35px;
}

footer .navbar-brand {
  color: #ffffff;
}

footer .navbar-brand {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #ffffff;
}

footer .navbar-brand span {
  font-weight: 100;
}

footer p {
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

.statements {
  margin: 20px 0px;
}

.COPYRIGHT {
  font-family: 'Roboto Condensed', sans-serif;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

.buy-resurge a.offical-web {
  color: #323232;
  text-decoration: underline;
}

.progressbar_sec {
  margin-bottom: 60px;
}

.buy-resurge hr {
  margin: 25px 0px;
}

.privacy-terms {
  margin-top: 50px;
}

.privacy-terms a:hover {
  text-decoration: underline;
}

.contact-us {
  padding: 60px 0px;
}

.contact-us h2 {
  font-size: 42px;
}

.contact-us p a {
  font-weight: 600;
  color: #323232;
}


/* Responsive Media Queries  */


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 780px;
  }
}


/* Max Width With Start Point */


/* Large devices (desktops, 992px and Down) */

@media (max-width: 991.98px) {
  .banner h3 {
    font-size: 33px;
  }
}


/* Medium devices (tablets, 768px and Down) */

@media (max-width: 767.98px) {
  .banner h1 {
    font-size: 20px;
  }
  .how-effective-content img {
    margin-bottom: 25px !important;
  }  
  .progressbar_sec p{
    font-size: 12px;
  }
  .progress-bar-1,.progress-bar-2{width: 95% !important;}
  .progress-bar-3{width: 92% !important;}
  .progress-bar-5,.progress-bar-6{width: 95% !important;}
}


/* Small devices (landscape phones, 576px and Down) */

@media (max-width: 575.98px) {
  .navbar-expand-sm .navbar-nav li:not(:last-child) {
    margin-right: 0;
  }
  .navbar-expand-sm .navbar-nav li {
    margin-bottom: 15px;
  }
  .navbar-expand-sm .navbar-nav {
    margin-top: 10px;
  }
  .navbar-light .navbar-brand {
    font-size: 24px;
  }
  footer .navbar-brand {
    font-size: 26px;
  }
  .media {
    display: block;
  }
  .media img {
    display: block;
    margin: 0 auto !important;
  }
  .ratingbox {
    margin: 0 auto 30px!important;
  }
  .banner h3 {
    font-size: 24px;
  }
  .banner .media ul li {
    font-size: 18px;
  }
  .btn-check {
    font-size:1.5rem;
  }
  .offer h2 {
    font-size: 20px;
  }
  .offer p {
    font-size: 16px;
  }
  .how-effective-content {
    margin-bottom: 15px;
  }
  .promo-offer a {
    font-size: 16px;
  }
  .how-effective {
    padding-bottom: 35px;
  }
  .progressbar_sec {
    padding: 20px;
  }
  .progressbar_sec p {
    margin-top: 5px;
  }
  .progressbar_sec .col-md-4 p {
    margin-bottom: 5px;
  }
  .progressbar_sec {
    margin-bottom: 30px;
  }
  footer {
    margin-top: 25px;
  }
  .contact-us p a {
    font-size: 15px;
  }
  .banner h1{
    font-size: 24px;
  }
  .banner h1 span{
    display: block;
  }
  .banner .media img{
    margin-left: 0px !important;
    display: inline-block;
    float: left;
    margin-right: 20px;
  }
  .ratingbox{display: inline-block; margin-left: 25px !important; margin-top: 20px !important;}
  .banner h3{display: none;}
  .banner ul{clear: both; margin-top: 25px; margin-bottom: 0px;}
  .second-media{margin-top: 20px;}
  .banner .media .banner-product{height: 250px; margin-right: 35px; display: block;}
  .star-img{
    margin-right: auto !important;
  }
}


/* Max Width */


/* Small devices (landscape phones, 480px and down) */

@media (max-width: 480px) {
  .navbar-light .navbar-brand {
    font-size: 22px;
  }
  .progressbar_sec .col-md-4, .progressbar_sec .col-5,.progressbar_sec .col-3{
    padding:0px 5px;
  }
}


/* Small devices (landscape phones, 384px and down) */

@media (max-width: 384px) {
  .btn-check {
    font-size:1.5rem;
  }
  .banner .media .banner-product{
    height: 230px;
  }
}

@media (max-width: 360px) {
  .btn-check {
    font-size:1.4rem;
  }
  .banner .media .banner-product{
    height: 200px;
  }
}


/* Small devices (landscape phones, 360px and down) */

@media (max-width: 360px) {
  .navbar-light .navbar-brand {
    font-size: 20px;
  }
}